<div class="container-fluid my-5">
  <div class="card font-effect-shadow-multiple">
    <div class="card-header align-items-center">
      <h4 class="float-left align-items-center">
        <a href="{{this.link}}" class="" target="_blank"><i class="far fa-newspaper"></i> {{this.title}}</a>
      </h4>
      <button type="button" class="btn btn-primary btn-sm float-right comment align-items-center" data-toggle="modal"
        data-target="#{{this.id}}">Save
        Article</button>
    </div>
    <div class="card-body">
      <p class="card-text">{{this.body}}</p>
    </div>
  </div>
</div>