<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand" href="/"><i class="far fa-newspaper"></i> Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/saved">Saved</a>
        </li>
        <li class="nav-item mx-2">
          <span class="badge badge-warning"><a class="nav-link " id="scrape" href="/scrape">Scrape New Articles</a></span>  
        </li>
        <li class="nav-item mx-2">
          <span class="badge badge-danger"><a class="nav-link " id="clear" href="/clear">Clear Articles</a></span> 
        </li>
      </ul>
    </div>
  </nav>