<li class="list-group-item-action display-block deleteThis{{this.id}}">
  <div>
  <small class = "float-left">Title: {{title}}</small><br>
  <small class = "float-left">Comment: {{body}}</small>

  </div>
<button type="button" class="btn btn-danger btn-sm float-right deleteComment align-items-center mx-2"
        value={{this._id}}><i class="fas fa-trash"></i> Delete</button>
  </li>