<li>
  <small class = "float-left">{{title}}</small>
  <small class = "float-left">{{body}}</small>
  <small class = "float-left">{{this}}</small>
<button type="button" class="btn btn-danger btn-sm float-right delete align-items-center mx-2"
        value={{this._id}}><i class="fas fa-trash"></i> Delete</button>
  </li>