body {
  background: url('https://st.depositphotos.com/1005810/2521/i/950/depositphotos_25210439-stock-photo-stack-of-newspapers.jpg');
  background-repeat: no-repeat;  
  background-size: 100%;
  font-family: 'Domine', serif;
  display: border-box;
}
.jumbotron {
  background: url('https://st.depositphotos.com/1005810/2521/i/950/depositphotos_25210439-stock-photo-stack-of-newspapers.jpg');
  background-repeat: no-repeat; 
  background-size: 100%;
  border-radius: 5px;
  opacity: .8;
}
.modalComment {
  z-index: 1;
  margin-top: 20%;
}
.modal {
  z-index: 1;
  margin-top: 20%;
}