body {
  background: url('../images/news.jpg');
  
  font-family: 'Domine', serif;
  display: border-box;
}
.jumbotron {
  background: none;
  border-radius: 5px;
  color: black;

}
.modalComment {
  z-index: 1;
  margin: auto
}
.modal {
  z-index: 1;
  /* margin-top: 20%; */
}